---
import { TopHeroText } from "./TopHeroText";

---
<div class="w-full md:w-[90%] h-[70vh] md:h-full mx-auto relative">
  <img class="w-full max-h-[40rem] h-full object-cover rounded" src="/top/main.png" alt="main" />
  <TopHeroText />
</div>
