---
import { Hamburger } from "./Hamburger"
type List = {
  label: string
  href: string
}
const LIST: List[] = [{
  label: 'About', href: '#'
}, {
  label: 'Service', href: '#'
}, {
  label: 'Works', href: '#'
}, {
  label: 'Recruit', href: '#'
}, {
  label: 'Blog', href: '#'
}, {
  label: 'Contact', href: '#'
}]
---

<nav class="w-full flex justify-between items-center px-4 mb-4">
  <a class="cursor-pointer z-50">
    <img width="200" src="/logo.png" />
  </a>
  <ul class="text-sm font-bold gap-6 hidden md:flex">
    {LIST.map(item => (
      <li class="links">
        <a href={item.href}>{item.label}</a>
      </li>
    ))}
  </ul>
  <div class="md:hidden block">
    <Hamburger list={LIST} client:visible />
  </div>
</nav>

<style>
.links {
  @apply hover:text-primary
}
</style>
