---
---

<nav class="w-full flex justify-between items-center px-4 mb-4">
  <a class="cursor-pointer">
    <img width="200" src="/logo.png" />
  </a>
  <ul class="text-sm font-bold gap-6 flex">
    <li class="links">
      <a href="#">About</a>
    </li>
    <li class="links">
      <a href="#">Service</a>
    </li>
    <li class="links">
      <a href="#">Works</a>
    </li>
  </ul>
</nav>

<style>
.links {
  @apply hover:text-[#59bbcf]
}
</style>